.vs
.vscode
bin
obj
*.csproj.user
*.user
PublishProfiles
ServiceDependencies
appsettings.Local.json
# appsettings.Development.json
.sonarqube

TestResults/
coverageresults/
run_coverage.bat

docker-compose.dcproj
docker-compose.override.yml
docker-compose.yml
/src/FileService.Api/appsettings.Development.json
